/* font families */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* Reset/Base derived from: bitsofco.de/my-css-reset-base/ and
   css-tricks.com style.css
*/

/* 0 margin, padding, border on all elements except form fields ***** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Typography  ************************************************************ */
html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  /* Encourages thoughtful changes to font styles */
}

a,
a:visited {
  color: inherit;
  /* Sets link color to body text color */
  text-decoration: none;
}

/* Layout ************************************************************ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Elements ************************************************************  */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

button,
input,
select,
textarea {
  vertical-align: baseline;
}

/* CSS Variables ****************************************************** */
:root {
  --blue: #1fadee;
  --blueGreen: #0ea181;
  --blueGreenLight: #b0f0e2;
  --green: #06b130;
  --greenLight: #00ff55;
  --pink: #f80d83;
  --pinkLight: #fdceea;
  --grey: #afabab;
  --white: #ffffff;
  --blueBlack: rgb(3, 15, 37);
}

/* Body  ************************************************************** */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Nav */
.title {
  text-align: center;
  color: var(--blue);
  margin: 10px;
  font-size: 3rem;
}

/* Main section  ****************************************************** */

.grid {
  display: grid;
  border: 2px red dotted;
  grid-template-columns: repeat(3, 1fr [column-start]);
  grid-template-rows: [common-hand] 1fr [player-one-hand] 1fr;
  column-gap: 25px;
  row-gap: 25px;
  justify-items: center;
  align-items: center;
  width: 300px;
}

.card__text card__p5A {
  grid-column-start: first;
}

.cardTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background: var(--blueGreen);
}

.playerPositions {
  color: var(--pink);
  text-shadow: 1px 0 var(--blueGreen);
  font-size: 1rem;
  padding: 5px;
}

.playerOneHand,
.playerTwoHand,
.playerThreeHand,
.playerFourHand,
.commonHand {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.gameControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 300px;
  background: var(--grey);
  border: solid var(--blueGreenLight) 5px;
}

.control-btn {
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  color: var(--pink);
  text-shadow: 1px 0 var(--blueGreenLight);
  background: var(--blue);
  margin: 2px;
  border-radius: 5%;
  padding: 2px;
}

.playerTitle {
  color: var(--pinkLight);
}

.aCard {
  display: flex;
  width: 5rem;
  height: 7rem;
  background: var(--white);
  font-size: 2rem;
  color: var(--pink);
  border: 0.1rem solid var(--green);
  border-radius: 5%;
  padding: 0.2rem;
}

#aCardBlack {
  color: var(--blueBlack);
}

.is-active {
  background: var(--blue);
  border: 3px solid var(--pink);
}

/* 
  z-index: 1;
  box-shadow: 2px 2px 2px var(--blueGreen);
*/
