/* font families */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* Reset/Base derived from: bitsofco.de/my-css-reset-base/ and
   css-tricks.com style.css
*/

/* 0 margin, padding, border on all elements except form fields ***** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Typography  ************************************************************ */
html {
  /* font-size: 62.5%; */
  font-family: "Ubuntu", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

/* 
* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  Encourages thoughtful changes to font styles
} */

a,
a:visited {
  color: inherit;
  /* Sets link color to body text color */
  text-decoration: none;
}

/* Layout ************************************************************ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Elements ************************************************************  */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

button,
input,
select,
textarea {
  vertical-align: baseline;
}

/* CSS Variables ****************************************************** */
:root {
  --blue: #1fadee;
  --blueBlack: rgb(3, 15, 37);
  --blueGreen: #0ea181;
  --blueGreenLight: #b0f0e2;
  --green: #06b130;
  --greenLight: #00ff55;
  --grey: #afabab;
  --orange: #e4c126;
  --pink: #f80d83;
  --pinkLight: #fdceea;
  --violet: #d135f8;
  --white: #ffffff;
}

/* Body  ************************************************************** */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Nav */
.title {
  color: var(--blue);
  margin: 10px;
  font-size: 3rem;
}

/* Main section  ****************************************************** */
/* .mainGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 640px;
  border: 0.2rem solid var(--blueGreen);
  row-gap: 0.25rem;
} */

.cardsArea {
  /* grid-column-start: 1;
  grid-column-end: 5; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 0.5rem;
  border: 0.2rem solid var(--pink);
  padding: 0.5rem;
}

.playerNames {
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.playerNamesOneTwo {
  align-items: flex-end;
}

.tokens {
  color: var(--green);
}

.dealer {
  color: var(--pink);
  font-size: 1.5rem;
}

.playerArea {
  display: flex;
  border: 0.3rem solid var(--blue);
  padding: 0.5rem;
}

.messageArea {
  grid-column-start: 3;
  grid-column-end: 4;
  /* justify-content: center; */
  /* width: 100%; */
}

.controls {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  /* width: 100%; */
}

.controlsPlayers {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.controlsCards {
  display: flex;
  flex-direction: column;
}

.playerOneArea,
.playerFourArea {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: flex-start;
}

.playerTwoArea,
.playerThreeArea {
  grid-column-start: 4;
  grid-column-end: 5;
  justify-content: flex-end;
}

.extraArea {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  border-color: var(--violet);
}

/* .controls {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid var(--grey);
  width: 50%;
} */

/* .controlsDealing {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
} */

.controlsCardPlay {
  display: flex;
  flex-direction: column;
  grid-column-start: 4;
  grid-column-end: 5;
  justify-self: start;
}

.control-btn {
  font-size: 1rem;
  color: var(--pink);
  border-radius: 5%;
  margin: 0.1rem;
  padding: 0;
}

.playersNum {
  font-size: 1rem;
  color: var(--blue);
  text-align: center;
}

.active-area {
  border-color: var(--violet);
}

.aCard {
  width: 5rem;
  height: 7rem;
  font-size: 2rem;
  color: var(--pink);
  border: 0.1rem solid var(--green);
  border-radius: 5%;
  padding: 0.2rem;
}

.aCardBlack {
  color: var(--blueBlack);
}

.is-active {
  border: 3px solid var(--pink);
}

footer {
  color: var(--blue);
}
